<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-social.css" rel="stylesheet">
    <link href="../static/css/mystyles.css" rel="stylesheet">
    <title>Delger Enkhbayar Heroku</title>
</head>

<body>
  <div class="navbar-wrapper">
    <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="navbar-inner">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="index.html">
                      <span class="glyphicon glyphicon-home" aria-hidden="true">
                      </span> Project Description
                    </a>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                       <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       Plots <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Plot 1</a></li>
                          <li><a href="#">Plot 2</a></li>
                          <!-- <li role="separator" class="divider"></li> -->
                        </ul>
                  </li>
                  <li>
                    <a href="aboutus.html"><i class="fa fa-envelope-o">About Me</i></a>
                  </li>
              </ul>
            </div>
          </nav>
        </div>
        </div>
      </div>
      <div id="wrapper">
      <div class="container">
          <!-- Start About me section -->
          <div class="row">
              <div class="col-sm-3 col-md-2 text-center">
                  <!-- Avatar Image -->
                  <img src="../static/delger.jpg" alt="delger" class="img-responsive img-profile thumbnail">
              </div>
              <div class="col-sm-9 col-md-7">
                  <div class="mini-desc">
                      <!-- Name and Profesion -->
                      <h1 class="title animated">Delger Enkhbayar <small class="text-muted display-block-sm">Data Scientist</small></h1>
                      <!-- Profile -->
                      <p>I am a data scientist, with an economics background. I have research degrees from London School of Economics and worked as a software engineer at a technology start-up based in Manchester.</p>
                  </div>
              </div>
              <div class="col-sm-12 col-md-3">
                  <!-- Start Contact -->
                  <div class="contact">
                      <h2 class="sub-title"><i class="fa fa-slack"></i>CONTACT</h2>
                      <ul class="list-unstyled contact-list">
                          <li><i class="fa fa-mobile"></i><span class="pull-right">+1 (000) 900-00-00</span></li>
                          <li><i class="fa fa-envelope"></i><span class="pull-right">delger_azul@protonmail.com</span></li>
                          <li><i class="fa fa-skype"></i><span class="pull-right">delger.enkhbayar</span></li>
                          <li><i class="fa fa-globe"></i><span class="pull-right"><a href="javascript:void(0)">www.jquery2DotNet.com</a></span></li>
                      </ul>
                  </div>
                  <!-- End Contact -->
              </div>
          </div>
          <hr />
          <div class="row">
    <div class="col-md-6">
        <!-- Start Work Experience -->
        <h2 class="sub-title"><i class="fa fa-slack"></i>WORK EXPERIENCE</h2>
        <ul class="timeline">
            <li>
                <div class="timeline-badge mid-night">2015</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Research Software Engineer</h4>
                        <p><small class="text-muted">Metafused</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>I researched, built and refined machine learning models for segmenting Twitter users, complementing the clustering with topic modelling.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge mid-night">2015</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Organizational Consultant</h4>
                        <p><small class="text-muted">Mongol Daatgal LLC</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Engaged with the senior management to identify a key area of research: causal link between contract choice and payout</p>
                        <p>Designed and implemented randomized experiments on all consumers buying vehicle insurance at the largest insurance company in Mongolia </p>
                        <p>Built and trained a team of 8 research assistants to implement a large-scale interview survey in Ulaanbaatar</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge mid-night">2006 - 2015</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Research Assistant and Teaching Assistant</h4>
                        <p><small class="text-muted">London School of Economics, University College London</small></p>
                    </div>
                    <div class="timeline-body">
                        <p>Taught advanced mathematics, statistics, econometrics and industrial organisation courses to undergraduate and graduate economics students</p>
                    </div>
                </div>
            </li>
        </ul>
        <!-- End Work Experience -->

        <!-- Start Education -->
        <h2 class="sub-title"><i class="fa fa-slack"></i>EDUCATION</h2>
        <ul class="timeline">
            <li>
                <div class="timeline-badge mid-night">2015</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">MPhil/PhD in Economics</h4>
                        <p><small class="text-muted">London School of Economics</small></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge mid-night">2010</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Masters of Research in Econometric Theory</h4>
                        <p><small class="text-muted">London School of Economics</small></p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge mid-night">2008</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">BSc in Economics</h4>
                    </div>
                </div>
            </li>
        </ul>
        <!-- End Education -->
    </div>

    <div class="col-md-6">
        <!-- Start Skills -->
        <div class="row">
            <div class="col-md-12">

                <h2 class="sub-title"><i class="fa fa-bars"></i>SKILLS</h2>
                <ul class="timeline">
                  <li>
                      <p> Python</p>
                  </li>
                  <li>
                      <p> SQL</p>
                  </li>
                  <li>
                      <p> R</p>
                  </li>
                  <li>
                      <p> Statistical Modelling</p>
                  </li>
                  <li>
                      <p> Demand Estimation</p>
                  </li>
                  <li>
                      <p> Survey and Experiment Design</p>
                  </li>
                </ul>
            </div>
        </div>
        <!-- End Skills -->

        <div class="row">
            <div class="col-sm-6 col-md-12">
                <!-- Start Languages -->
                <h2 class="sub-title"><i class="fa fa-language"></i>LANGUAGES</h2>
                <div class="languages">
                    <div>
                        English
                <div class="icons pull-right">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
                    </div>
                    <div>
                        Russian
                <div class="icons pull-right">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
                    </div>
                    <div>
                        Mongolian
                <div class="icons pull-right">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
                    </div>
                    <div>
                        Brazilian Portuguese
                <div class="icons pull-right">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                    </div>
                    <div>
                        French
                <div class="icons pull-right">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                </div>
                    </div>
                </div>
                <!-- End Languages -->
            </div>
            <!-- <div class="col-sm-6 col-md-12"> -->
                <!-- Start Published -->
                <!-- <h2 class="sub-title"><i class="fa fa-file"></i>PUBLISHED</h2>
                <div class="published">
                    <div>
                        Lorem Ipsum available, Magazine
                <div class="icons pull-right">
                    15 Dec 2014
                </div>
                    </div>
                    <div>
                        Lorem Ipsum available, Magazine
                <div class="icons pull-right">
                    14 Dec 2014
                </div>
                    </div>
                    <div>
                        Lorem Ipsum available, Magazine
                <div class="icons pull-right">
                    13 Dec 2014
                </div>
                    </div>
                </div> -->
                <!-- End Published -->
            </div>
        </div>

        </div>
      </div>
      <footer class="row-footer">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <div style="padding: 0px 0px 0px 400px;">
                        <div align=center class="nav navbar-nav" style="padding: 40px 10px;">
                            <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+DelgerEnkhbayar"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id=owldy"><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/delger-borjigon-enkhbayar-7ab163120"><i class="fa fa-linkedin"></i></a>
                            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/delger0107"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-social-icon btn-youtube" href="http://www.youtube.com/c/DelgerEnkhbayar"><i class="fa fa-youtube"></i></a>
                            <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script>
        $(document).ready(function(){
          $('#mycarousel').carousel({interval: 2000});
          $('#carousel-pause').click(function(){
            $('#mycarousel').carousel('pause');
          });
          $('#carousel-play').click(function(){
            $('#mycarousel').carousel('cycle');
          });
        });
      </script>
  </body>
  </html>
